<p id="notice"><%= notice %></p>

<p>
  <b>Content:</b>
  <%= @sentence.content %>
</p>

<p>
  <b>Word count:</b>
  <%= @sentence.word_count %>
</p>

<p>
  <b>Type:</b>
  <%= @sentence.type_id %>
</p>


<%= link_to 'Edit', edit_sentence_path(@sentence) %> |
<%= link_to 'Back', sentences_path %>
